body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}
#root {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 600px;

  border: 2px solid black;
  overflow: hidden;
}

/* Left Side */
.HomePage {
  width: 50%;
  padding: 1rem;
  border-right: 2px solid gray;
  box-sizing: border-box;
  overflow-y: auto;
}

/* Search bar */
.SearchBar {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* Employee List */
.EmployeeList {
  display: flex;
  flex-direction: column;
}

/* Single Employee Item */
.EmployeeListItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-top: 1px solid lightgrey;
}

/* Right Side */
.EmployeePage {
  width: 50%;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Main Card Info */
.Card {
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.637);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-top: 1px solid lightgrey;
  text-align: left;
}

.detailColumn {
  display: flex;
  flex-direction: column;
}

/* Header Titles */

.Header {
  text-align: center;
  margin-bottom: 1.25rem;
  padding-top: 0.25rem;
}

.HeaderRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  position: relative;
  margin-bottom: 1rem;
}

.left-icon img {
  width: 24px;
  height: 24px;
}

.center-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.right-spacer {
  width: 24px;
}

.main {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
img {
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

/* Text Alignment */
h1,
h2,
h3,
h4 {
  margin: 0.25rem;
}

h4 {
  color: rgba(128, 128, 128, 0.637);
}
